<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae3768c3-f629-48f1-b000-62ec88e76632" Alias="Projects" Level="2">
  <Info>
    <Parent Key="d006bb9b-fa6e-4b5e-b2e0-87d9be520164">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-09-20T10:58:02</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b1553c93-df1e-463f-84f3-a73e2760fa0d">projectListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>