<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ad63ffd-2353-4cd2-9a14-3627f5cf84a3" Alias="Services" Level="2">
  <Info>
    <Parent Key="d006bb9b-fa6e-4b5e-b2e0-87d9be520164">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-11T10:52:25</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c77bb4e9-907d-4375-8049-d5aa7db4f12d">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>