<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ab8b96d-0f78-4633-8953-b9407b73e11b" Alias="aj-carter.png" Level="2">
  <Info>
    <Parent Key="58fc424a-82f5-4141-bf25-d84969199492">Team members</Parent>
    <Path>/TeamMembers/ajCarterpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T09:43:21</CreateDate>
    <NodeName Default="aj-carter.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2jzp2lar/aj-carter.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>