<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d912cfa-809f-4911-8644-23d7ea8e0150" Alias="assurance&amp;audits.png" Level="2">
  <Info>
    <Parent Key="4f32c16d-039a-4337-88d0-75aa17219974">Services</Parent>
    <Path>/Services/assuranceauditspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T09:29:28</CreateDate>
    <NodeName Default="assurance&amp;audits.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oxtnp45w/assuranceaudits.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>