<?xml version="1.0" encoding="utf-8"?>
<Media Key="66126488-9024-4985-87b9-fbe2c7c130fb" Alias="bonds&amp;commodities.png" Level="2">
  <Info>
    <Parent Key="4f32c16d-039a-4337-88d0-75aa17219974">Services</Parent>
    <Path>/Services/bondscommoditiespng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T09:29:29</CreateDate>
    <NodeName Default="bonds&amp;commodities.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/a4xfjucn/bondscommodities.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>