<?xml version="1.0" encoding="utf-8"?>
<Media Key="d33611e0-00c8-4c9e-a7f1-0f798f7e76bb" Alias="Brand.svg" Level="2">
  <Info>
    <Parent Key="f448131b-f8eb-407b-88f7-aeeeaa004626">Logos</Parent>
    <Path>/Logos/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T13:43:46</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ckwjimot/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>