<?xml version="1.0" encoding="utf-8"?>
<Media Key="29c63122-a12d-4d3c-9909-b9eeebb76bbe" Alias="brandon-newton.png" Level="2">
  <Info>
    <Parent Key="58fc424a-82f5-4141-bf25-d84969199492">Team members</Parent>
    <Path>/TeamMembers/brandonNewtonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T09:43:23</CreateDate>
    <NodeName Default="brandon-newton.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vx3jbh0e/brandon-newton.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>