<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2bfad55-a80e-4523-955d-02cca3e21fed" Alias="breadcrumb-background.png" Level="2">
  <Info>
    <Parent Key="64f4611f-bf12-42b4-998e-fef8e420550c">Backgrounds</Parent>
    <Path>/Backgrounds/breadcrumbBackgroundpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T10:26:14</CreateDate>
    <NodeName Default="breadcrumb-background.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1jtpszdh/breadcrumb-background.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>