<?xml version="1.0" encoding="utf-8"?>
<Media Key="6741e646-ec54-4970-a7c2-9f9f1f9dcb43" Alias="contact-us-bg.png" Level="2">
  <Info>
    <Parent Key="601de556-64d4-4d6c-a933-dbbcc6de5cb5">Contact us</Parent>
    <Path>/ContactUs/contactUsBgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-19T11:46:58</CreateDate>
    <NodeName Default="contact-us-bg.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/zewapuj3/contact-us-bg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>