<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8c1d3a2-d9cd-417a-a71d-06635b61d1b7" Alias="contact-us-bg.svg" Level="2">
  <Info>
    <Parent Key="601de556-64d4-4d6c-a933-dbbcc6de5cb5">Contact us</Parent>
    <Path>/ContactUs/contactUsBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T13:32:16</CreateDate>
    <NodeName Default="contact-us-bg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kbxggsww/contact-us-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>