<?xml version="1.0" encoding="utf-8"?>
<Media Key="19d43b8d-f176-4016-a488-44b367cbb80a" Alias="contact-us-person.png" Level="2">
  <Info>
    <Parent Key="601de556-64d4-4d6c-a933-dbbcc6de5cb5">Contact us</Parent>
    <Path>/ContactUs/contactUsPersonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T13:40:05</CreateDate>
    <NodeName Default="contact-us-person.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/alyjfly5/contact-us-person.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>