<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f5550d9-e6ed-45af-adaa-2fb498bceaab" Alias="Dot map.svg" Level="2">
  <Info>
    <Parent Key="64f4611f-bf12-42b4-998e-fef8e420550c">Backgrounds</Parent>
    <Path>/Backgrounds/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T09:40:51</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fpwppdpw/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>