<?xml version="1.0" encoding="utf-8"?>
<Media Key="75d3b19c-e047-4974-ab06-ace21bee75c7" Alias="financialadvisor.png" Level="2">
  <Info>
    <Parent Key="4f32c16d-039a-4337-88d0-75aa17219974">Services</Parent>
    <Path>/Services/financialadvisorpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T09:29:30</CreateDate>
    <NodeName Default="financialadvisor.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cn3jlqzo/financialadvisor.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>