<?xml version="1.0" encoding="utf-8"?>
<Media Key="62a1a42b-d8d8-4084-b845-fc9522805fb1" Alias="fossilgroup.svg" Level="2">
  <Info>
    <Parent Key="69e125c8-d96b-4647-bae2-4329e43de657">Partners</Parent>
    <Path>/Partners/fossilgroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T10:25:36</CreateDate>
    <NodeName Default="fossilgroup.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1embhagd/fossilgroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>