<?xml version="1.0" encoding="utf-8"?>
<Media Key="768046b5-35f7-4187-a7f0-825cb5f691bd" Alias="freedombird.svg" Level="2">
  <Info>
    <Parent Key="69e125c8-d96b-4647-bae2-4329e43de657">Partners</Parent>
    <Path>/Partners/freedombirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T10:25:37</CreateDate>
    <NodeName Default="freedombird.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i53dffhm/freedombird.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>