<?xml version="1.0" encoding="utf-8"?>
<Media Key="797d93f5-eba9-41d3-93e6-e1329cb0ed8d" Alias="Generic" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Generic</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-05T09:21:25</CreateDate>
    <NodeName Default="Generic" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>