<?xml version="1.0" encoding="utf-8"?>
<Media Key="223a5dff-8a96-41f1-abcd-b50712c1c5f9" Alias="identity.svg" Level="2">
  <Info>
    <Parent Key="69e125c8-d96b-4647-bae2-4329e43de657">Partners</Parent>
    <Path>/Partners/identitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T10:25:40</CreateDate>
    <NodeName Default="identity.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bxqjrqen/identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>