<?xml version="1.0" encoding="utf-8"?>
<Media Key="f448131b-f8eb-407b-88f7-aeeeaa004626" Alias="Logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-04T13:43:11</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>