<?xml version="1.0" encoding="utf-8"?>
<Media Key="a67055eb-4f4e-491b-9876-da37519188d7" Alias="map 1.png" Level="2">
  <Info>
    <Parent Key="64f4611f-bf12-42b4-998e-fef8e420550c">Backgrounds</Parent>
    <Path>/Backgrounds/map1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T10:53:26</CreateDate>
    <NodeName Default="map 1.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mspdmebh/map-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>