<?xml version="1.0" encoding="utf-8"?>
<Media Key="1dcdd3ed-cca2-44b0-85dc-99b32ee00e1d" Alias="miranda-dayton.png" Level="2">
  <Info>
    <Parent Key="58fc424a-82f5-4141-bf25-d84969199492">Team members</Parent>
    <Path>/TeamMembers/mirandaDaytonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T09:43:26</CreateDate>
    <NodeName Default="miranda-dayton.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mimjxk4l/miranda-dayton.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>