<?xml version="1.0" encoding="utf-8"?>
<Media Key="b48c098d-7e43-44b4-a25d-cb3feab728c8" Alias="natural.svg" Level="2">
  <Info>
    <Parent Key="69e125c8-d96b-4647-bae2-4329e43de657">Partners</Parent>
    <Path>/Partners/naturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T10:25:34</CreateDate>
    <NodeName Default="natural.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p40c2vsy/natural.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>