<?xml version="1.0" encoding="utf-8"?>
<Media Key="69e125c8-d96b-4647-bae2-4329e43de657" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T10:23:35</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>