<?xml version="1.0" encoding="utf-8"?>
<Media Key="017e7a7d-bf3b-46ca-af0a-99b91cfaf29d" Alias="pj-big.png" Level="2">
  <Info>
    <Parent Key="66fa1f6f-47fd-4cc7-a546-8a91cc665100">Projects</Parent>
    <Path>/Projects/pjBigpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T10:14:18</CreateDate>
    <NodeName Default="pj-big.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4kydrn0s/pj-big.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>