<?xml version="1.0" encoding="utf-8"?>
<Media Key="47982eb0-b844-4597-81ee-6e51abf68d41" Alias="pj1.png" Level="2">
  <Info>
    <Parent Key="66fa1f6f-47fd-4cc7-a546-8a91cc665100">Projects</Parent>
    <Path>/Projects/pj1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T10:06:46</CreateDate>
    <NodeName Default="pj1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/h5sn32jn/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>