<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc081465-c6c8-4887-868f-dd7d5703e40c" Alias="pj3.png" Level="2">
  <Info>
    <Parent Key="66fa1f6f-47fd-4cc7-a546-8a91cc665100">Projects</Parent>
    <Path>/Projects/pj3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T10:07:17</CreateDate>
    <NodeName Default="pj3.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3lpe20vb/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>