<?xml version="1.0" encoding="utf-8"?>
<Media Key="ecb9093d-2a35-4c3a-9345-aceb6040e7db" Alias="post2 1.png" Level="2">
  <Info>
    <Parent Key="4f32c16d-039a-4337-88d0-75aa17219974">Services</Parent>
    <Path>/Services/post21png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T10:58:29</CreateDate>
    <NodeName Default="post2 1.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wlbp4ws2/post2-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>