<?xml version="1.0" encoding="utf-8"?>
<Media Key="66fa1f6f-47fd-4cc7-a546-8a91cc665100" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-20T10:06:28</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>