<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f3b7b9c-109e-4832-831f-29907bc7d2e0" Alias="risk-management.png" Level="2">
  <Info>
    <Parent Key="4f32c16d-039a-4337-88d0-75aa17219974">Services</Parent>
    <Path>/Services/riskManagementpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T09:29:32</CreateDate>
    <NodeName Default="risk-management.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/coyh0kpx/risk-management.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>