<?xml version="1.0" encoding="utf-8"?>
<Media Key="5170734d-182f-4443-9127-3f23702645e2" Alias="taxandtrusts.png" Level="2">
  <Info>
    <Parent Key="4f32c16d-039a-4337-88d0-75aa17219974">Services</Parent>
    <Path>/Services/taxandtrustspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T09:29:34</CreateDate>
    <NodeName Default="taxandtrusts.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yk2dnz0g/taxandtrusts.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>