<?xml version="1.0" encoding="utf-8"?>
<Media Key="58fc424a-82f5-4141-bf25-d84969199492" Alias="Team members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-17T09:43:15</CreateDate>
    <NodeName Default="Team members" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>