<?xml version="1.0" encoding="utf-8"?>
<Media Key="609e8b6d-f2c1-40a0-8e7d-5ff380f4d14d" Alias="tina-fox.png" Level="2">
  <Info>
    <Parent Key="58fc424a-82f5-4141-bf25-d84969199492">Team members</Parent>
    <Path>/TeamMembers/tinaFoxpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T09:43:27</CreateDate>
    <NodeName Default="tina-fox.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2janrvvi/tina-fox.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>