<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf2b660b-6a5e-4780-9dd6-577cfb53e600" Alias="TinaFoxSignature.svg" Level="2">
  <Info>
    <Parent Key="797d93f5-eba9-41d3-93e6-e1329cb0ed8d">Generic</Parent>
    <Path>/Generic/TinaFoxSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T09:21:40</CreateDate>
    <NodeName Default="TinaFoxSignature.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5hnjslkf/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>