<?xml version="1.0" encoding="utf-8"?>
<Media Key="33a368fb-eb37-4a6f-80b5-191ce1f53937" Alias="why-choose-us.png" Level="2">
  <Info>
    <Parent Key="797d93f5-eba9-41d3-93e6-e1329cb0ed8d">Generic</Parent>
    <Path>/Generic/whyChooseUspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T10:15:45</CreateDate>
    <NodeName Default="why-choose-us.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/osrolbk4/why-choose-us.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>