<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="56cd2d01-91c8-4e55-918b-c1ad6f4ce235" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Templates</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cd3be85a-06bc-45ea-962c-d3640193be10">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a308a50b-d85e-4e7e-abd3-9b77fc126014" SortOrder="0">serviceListPage</ContentType>
    <ContentType Key="b440c785-87b7-4c2f-869a-1023447af5b6" SortOrder="1">projectListPage</ContentType>
    <ContentType Key="56cd2d01-91c8-4e55-918b-c1ad6f4ce235" SortOrder="2">modularPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3cee6653-fc99-408e-b2e6-ae7a7085c3f7</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>a410eaff-b02a-48ba-ad23-6446f8d7c591</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>62085430-093d-4388-9e5b-a3031755a7d0</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4a2c3422-595f-4110-9562-e85e487e1b2f</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f55fb53b-855c-4699-9444-bc1bb9feda06</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>