@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
	Layout = null;

    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var siteName = settings?.Value<string>("siteName") ?? "Onatrix";
    var siteTagLine = settings?.Value<string>("siteTagLine") ?? "Financial Solutions";

	var pageTitle = !string.IsNullOrEmpty(ViewBag?.Title) ? $"{ViewBag?.Title} | {siteName} - {siteTagLine}" : $"{siteName} - {siteTagLine}";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css">
	<title>@pageTitle</title>
</head>
<body>
	<div class="wrapper">
		@await Html.PartialAsync("partials/static/topbar.cshtml")
		@await Html.PartialAsync("partials/static/header.cshtml")
		<main>
            @if(!string.IsNullOrEmpty(ViewBag.Title)){
                @await Html.PartialAsync("partials/static/breadcrumb.cshtml")
            }
			@RenderBody()
		</main>
		@await Html.PartialAsync("partials/static/footer.cshtml")
	</div>
	<script src="/scripts/main.js"></script>
</body>
</html>