<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9b67a20-3826-4b66-b05f-2c8f605933b8" Alias="Complete Project Component - Tags - Multiple Text String" Level="1">
  <Info>
    <Name>Complete Project Component - Tags - Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>