<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a95b32c-49b6-43c7-b4f4-5caaca0dff56" Alias="Form Button - Button Type" Level="1">
  <Info>
    <Name>Form Button - Button Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "submit",
    "reset"
  ]
}]]></Config>
</DataType>