<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e143822-4f94-4c5b-a883-54392c90c710" Alias="Generic Form Template - Form - Block List" Level="1">
  <Info>
    <Name>Generic Form Template - Form - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6fc5e1c4-80a9-4ff8-817b-dfdbad6b3c6e",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "be8bdd8e-2ee6-4ea6-9704-1e047d728bb7",
      "label": "InputPassword - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "707e7d90-95bb-4a06-b84d-7f09f62e6a46",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "fb73fb76-480a-4e2d-864f-ba1e0fa40adf",
      "label": "Button - {=buttonType}"
    }
  ]
}]]></Config>
</DataType>