<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8951a21-b0a0-49ec-824c-38fd75a6e442" Alias="Image Slider - Slides" Level="1">
  <Info>
    <Name>Image Slider - Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e372b1c7-234d-4f82-9a93-f2dd725b3e60",
      "label": "**Image Slider Item** - {=imageDescription}"
    },
    {
      "contentElementTypeKey": "a26e22d5-6aa5-4ad9-8b55-8652559cabd7",
      "label": "**Image Slider Item** - {=imageDescription}"
    }
  ]
}]]></Config>
</DataType>