<?xml version="1.0" encoding="utf-8"?>
<DataType Key="244763b3-f934-4ec1-a667-88c5bcb54783" Alias="InputText - Input Types" Level="1">
  <Info>
    <Name>InputText - Input Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "phone"
  ]
}]]></Config>
</DataType>