<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a410eaff-b02a-48ba-ad23-6446f8d7c591" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "48916dc1-db80-4453-a618-b2538833c7c0",
      "name": "Containers"
    },
    {
      "key": "8f4e0bdc-74c4-48be-bca4-8838ae305f65",
      "name": "Components"
    },
    {
      "key": "9a595183-8b63-4fb6-b2e4-89ef2374e4a0",
      "name": "Custom Sections"
    },
    {
      "key": "ef671366-23ea-4cea-9a2b-03b8c67c0438",
      "name": "Forms"
    },
    {
      "key": "5fd322e0-e692-42f2-83c5-7089c8913319",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "e5763065-2ac6-442f-90b7-b9055185950d",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "allowInAreas": false,
      "columnSpanOptions": [],
      "areas": [
        {
          "key": "e0080587-1c62-4159-b0d9-d610b103f81e",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "48916dc1-db80-4453-a618-b2538833c7c0"
    },
    {
      "contentElementTypeKey": "f8a2142a-5889-48b6-8c12-ede348966355",
      "allowAtRoot": false,
      "groupKey": "48916dc1-db80-4453-a618-b2538833c7c0",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "d73b7243-ede7-4fb8-b98a-dd6887976561",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": []
    },
    {
      "contentElementTypeKey": "29cf1b17-df18-4ea0-a4de-1d042c119414",
      "allowAtRoot": false,
      "groupKey": "48916dc1-db80-4453-a618-b2538833c7c0",
      "allowInAreas": true,
      "label": "dynamic container",
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        }
      ],
      "areas": [
        {
          "key": "eaff5ba5-cbd5-4ff6-9d64-fac5ee4dcc55",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "b6f8c30b-28e7-4b12-aa3a-5fc0849b4222",
      "allowAtRoot": false,
      "groupKey": "5fd322e0-e692-42f2-83c5-7089c8913319",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "89e8c18f-ad13-4336-a090-dc31535aba5d",
      "allowAtRoot": false,
      "groupKey": "5fd322e0-e692-42f2-83c5-7089c8913319",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "74b64dd1-0dc2-4abc-b3f6-67d693098564",
      "allowAtRoot": false,
      "groupKey": "5fd322e0-e692-42f2-83c5-7089c8913319",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ce0ff0d8-2763-4c5a-a1f9-4d1f3699ea4c",
      "allowAtRoot": false,
      "groupKey": "5fd322e0-e692-42f2-83c5-7089c8913319",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e33c0816-7209-47b2-8899-80d4fdb0d1ea",
      "allowAtRoot": false,
      "groupKey": "5fd322e0-e692-42f2-83c5-7089c8913319",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "671abc93-1dbf-40ad-b799-c1c47954c285",
      "allowAtRoot": false,
      "groupKey": "5fd322e0-e692-42f2-83c5-7089c8913319",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4f7383dd-4bbb-4905-87b2-c5d7dfc72257",
      "allowAtRoot": false,
      "groupKey": "5fd322e0-e692-42f2-83c5-7089c8913319",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "42982682-5fd0-4b9a-9cc2-3a410dc6cf13",
      "allowAtRoot": false,
      "groupKey": "5fd322e0-e692-42f2-83c5-7089c8913319",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "7771d1d8-e1de-4447-99e0-b5daa32febcd",
      "allowAtRoot": false,
      "groupKey": "5fd322e0-e692-42f2-83c5-7089c8913319",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5b772d75-0dae-4d6d-9fdc-4aa30c3c4625",
      "allowAtRoot": false,
      "groupKey": "5fd322e0-e692-42f2-83c5-7089c8913319",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "1bca7af4-8e90-481e-ba0b-2e5ec0e48847",
      "allowAtRoot": false,
      "groupKey": "5fd322e0-e692-42f2-83c5-7089c8913319",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b87e865c-0120-4436-9042-fbf1e5486ec9",
      "allowAtRoot": false,
      "groupKey": "5fd322e0-e692-42f2-83c5-7089c8913319",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "a935b06b-7ac3-436a-a7be-4d6d89759cdf",
      "allowAtRoot": false,
      "groupKey": "5fd322e0-e692-42f2-83c5-7089c8913319",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ce185a19-1dff-456b-bfc1-24a8afbd29ad",
      "allowAtRoot": false,
      "groupKey": "8f4e0bdc-74c4-48be-bca4-8838ae305f65",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "eb4e78e2-7c0c-463e-8b83-0feea92a45c1",
      "allowAtRoot": false,
      "groupKey": "8f4e0bdc-74c4-48be-bca4-8838ae305f65",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "db93278b-c92d-48a1-b6fa-b1ac4d6ba7f5",
      "allowAtRoot": false,
      "groupKey": "8f4e0bdc-74c4-48be-bca4-8838ae305f65",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9f806a70-c1f8-49fd-bfd6-8dec813fd17e",
      "allowAtRoot": true,
      "groupKey": "9a595183-8b63-4fb6-b2e4-89ef2374e4a0",
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "ba6e759c-9b39-4978-bbdd-3afb2866eae4",
      "allowAtRoot": true,
      "groupKey": "9a595183-8b63-4fb6-b2e4-89ef2374e4a0"
    },
    {
      "contentElementTypeKey": "d227d602-f8fd-4a8f-8443-5fc588b062be",
      "allowAtRoot": true,
      "groupKey": "9a595183-8b63-4fb6-b2e4-89ef2374e4a0",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e4c83f98-e0f6-4aed-b3af-b210b0ec8885",
      "allowAtRoot": true,
      "groupKey": "9a595183-8b63-4fb6-b2e4-89ef2374e4a0",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3590f1b9-1744-4b16-ade5-297f89c21ad9",
      "allowAtRoot": false,
      "groupKey": "ef671366-23ea-4cea-9a2b-03b8c67c0438",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "06c64182-a975-4121-9641-0a64cae88fe1",
      "allowAtRoot": true,
      "groupKey": "ef671366-23ea-4cea-9a2b-03b8c67c0438",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>