<?xml version="1.0" encoding="utf-8"?>
<DataType Key="23c2618a-2229-409a-8d7b-6b976b8b38fa" Alias="Section - Color Length - Slider Property Editor UI" Level="1">
  <Info>
    <Name>Section - Color Length - Slider Property Editor UI</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 100,
  "minVal": 0,
  "step": 1
}]]></Config>
</DataType>