<?xml version="1.0" encoding="utf-8"?>
<DataType Key="546a95c5-ede6-4abd-bd09-20ae67b0190d" Alias="Service List Page - Contact Us section" Level="1">
  <Info>
    <Name>Service List Page - Contact Us section</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ba6e759c-9b39-4978-bbdd-3afb2866eae4",
      "allowAtRoot": true,
      "allowInAreas": false
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>