<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8ca3c62c-64e8-47f3-9cb8-6767b9fe6a14" Alias="Settings Page - Social Media Platforms" Level="1">
  <Info>
    <Name>Settings Page - Social Media Platforms</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e5e06d9b-27fc-4aa9-8e7b-028f05803c23",
      "label": "**{=platformName}** - {=platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>