<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d07572a8-c4f3-420f-8e34-ab0ae7a5c7f3" Alias="Settings Page - Projects - Block List" Level="1">
  <Info>
    <Name>Settings Page - Projects - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "62f80bcf-34cd-4fda-bca5-8c4eb117f283",
      "label": "**Project** {=pickedTitle}"
    }
  ]
}]]></Config>
</DataType>