<?xml version="1.0" encoding="utf-8"?>
<DataType Key="457226c0-e5e1-4bc3-a97a-d2b24857db02" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "LinkedIn",
    "TikTok",
    "X",
    "Youtube"
  ],
  "multiple": false
}]]></Config>
</DataType>