<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4348f5e4-8b59-48f4-ba7a-7caf54da4613" Alias="Stars - Number of stars slider" Level="1">
  <Info>
    <Name>Stars - Number of stars slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 5,
  "minVal": 1,
  "step": 1
}]]></Config>
</DataType>