@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@{
    var centerContentClass = (Model!.Content.Value<bool>("centerContentOnPage")) ? "center-content" : "";
}
@if(!string.IsNullOrEmpty(centerContentClass)){
    <div class="@centerContentClass" >
        @await Html.GetBlockGridItemAreasHtmlAsync(Model)
    </div>
}
else{
@await Html.GetBlockGridItemAreasHtmlAsync(Model)
}