@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;

@{
    var headlineContent = Model?.Content.Value<string>("headlineContent");
    var colorLabel = Model?.Content?.Value<ColorPickerValueConverter.PickedColor>("colorPicker")?.Label.ToLower() ?? null;
}

@if(!string.IsNullOrEmpty(headlineContent)){
    <h2 class="@colorLabel">@headlineContent</h2>
}