@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
	var selection = Umbraco.Content(Guid.Parse("4ad63ffd-2353-4cd2-9a14-3627f5cf84a3"))
    .ChildrenOfType("serviceItemTemplate")
    .Where(x => x.IsVisible())
    .Take(6)
    .ToList();
}
<section id="our-services-section" class="bg-gray">
	<div class="container">
		<div class="text-box">
			<h6>OUR SERVICES</h6>
			<h2>We Provide The Solutions To Grow Your Business Faster</h2>
		</div>
		<div class="content">
            @for(int i = 0; i < selection.Count; i++){
                var item = selection[i];
                var title = item?.Value<string>("pageTitle") ?? "Untitled Service";
                var image = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";

                <a href="@item.Url()">
                    <h4>@item.Name()</h4>
                    <img src="@image" alt="@item.Name()">
                    <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
                </a>
            }

		</div>
	</div>
</section>