@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;

@{
    bool.TryParse(TempData["error_name"]?.ToString()!, out bool error_name);
    bool.TryParse(TempData["error_email"]?.ToString()!, out bool error_email);
    bool.TryParse(TempData["error_question"]?.ToString()!, out bool error_question);
}
<section id="service-item-form">
    <div class="container big-form center-content">
        <div class="text">
            <h3 class="primary">Have a question ?</h3>
        </div>
        <div class="form-items">
            @if (TempData["success"] != null && !string.IsNullOrEmpty(TempData["success"].ToString()))
            {
                <div class="success-message">@TempData["success"]</div>
            }
            else
            {
                @using (Html.BeginUmbracoForm("HandleSubmit", "ContactSurface", FormMethod.Post))
                {

                    <div class="form-input-groups">
                        <div class="form-input-horizontal-group">
                            <div class="form-input-group">
                                <input id="name" name="name" type="text" placeholder="Name" class="form-input" value="@TempData["name"]">
                                @if (error_name)
                                {
                                    <span class="form-input-error form-invalid-input">You must enter your name</span>
                                }
                            </div>

                            <div class="form-input-group">
                                <input id="email" name="email" type="text" placeholder="Email" class="form-input" value="@TempData["email"]">
                                @if (error_email)
                                {
                                    <span class="form-input-error form-invalid-input">You must enter your email</span>
                                }
                            </div>
                        </div>

                        <div class="form-input-group">
                            
                            <textarea id="question" name="question" placeholder="Question" class="form-textarea" value="@TempData["question"]"></textarea>
                            @if (error_question)
                            {
                                <span class="form-input-error form-invalid-input">You must enter your question</span>
                            }
                        </div>
                    </div>

                    <button type="submit" class="form-button btn-primary btn">Submit</button>

                }
            }
        </div>
    </div>
</section>
